.list {
    &__item {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        &:hover {
            opacity: 0.6;
            transition: opacity 0.3s;
        }
    }
}