.article {
    position: relative;
    padding: 48px 64px 48px 96px;
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    
    @media only screen and (max-width: 800px) {
        padding: 16px;
    }
}

.back {
    position: absolute;
    left: 48px;
    font-size: 2rem;
    top: 64px;
    color: black;
    text-decoration: none;

    @media only screen and (max-width: 800px) {
        position: static;
    }
}
