.screenEgg {
    position: fixed;
    background: #FFDE7D;
    display: inline-block;
    padding: 16px;
    z-index: 99;
    cursor: pointer;
    border: 1px solid #ffffff;

    &:hover {
        transform: translate(0, 0);
    }

    @media only screen and (max-width: 800px) {
        padding: 16px;
        position: static;
        display: block;

        &Right,
        &Left {
            transition: none;
            transform: none
        }

        ul {
            display: flex;
            gap: 16px;
            justify-content: center;

            li {
                margin-bottom: 0;
            }
        }
    }
}

.right {
    padding-left: 32px;
    transform: translate(calc(100% - 30px), 0);
    top: 10%;
    right: 0;
    transition: transform 0.5s ease-out;
}

.left {
    padding-right: 32px;
    transform: translate(calc(-100% + 30px), 0);
    bottom: 10%;
    left: 0;
    transition: transform 0.3s ease-out;
}