.content {
    font-size: 1rem;
    line-height: 1.4;

    p,
    figure,
    blockquote,
    ul,
    ol {
        margin-bottom: 24px;
    }

    img {
        max-width: 100%;
    }

    figure {
        margin-bottom: 16px;
    }

    ul {
        margin-left: 16px;

        li::before {
            position: absolute;
            left: 0;
            content: '•';
        }

        li {
            padding-left: 16px;
            position: relative;
            margin-bottom: 8px;
        }
    }

    ol {
        margin-left: 32px;
        list-style: decimal;

        li {
            margin-bottom: 8px;
        }
    }

    blockquote {
        margin-left: 16px;
        border-left: #FFDE7D solid 4px;
        padding-left: 16px;
    }
}