.buyCoffee {
    padding-top: 104px;
    display: block;
    background: url('/buy_coffee.png') no-repeat top center;
    background-size: auto 64px;
}

.button {
    background: #00B8A9;
    color: #ffffff;
    font-size: 1rem;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    display: block;

    &:hover {
        background: white;
        color: black;
    }
}