.section {
    padding: 48px 64px;
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;


    @media only screen and (max-width: 800px) {
        padding: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .section {
        padding: 16px;
    }
}

