.title {
    margin-bottom: 12px;
}

.description {
    line-height: 1.6;
}

.content {
    display: grid;
    grid-template-columns: 96px 1fr;
    align-items: start;
    gap: 24px;

    @media only screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.link {
    text-decoration: none;
    color: black;

    &:hover {
        .title::after {
            width: 100%;
        }
    }
}


.image {
    @media only screen and (max-width: 800px) {
        display: none;
    }
}